body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    background-color: #FDF7F0; 
}

.navbar {
    display: flex;  
    background-color: #FDF7F0; 
    justify-content: space-between;
    z-index: 2;
}

.navbar ul {
    list-style-type: none; 
    align-content: center;
}

.navbar ul li {
    display: inline;
    justify-content: space-between; 
}

.navbar ul li a {
    margin: 30px;
    text-decoration: none; 
    color: black; 
    font-weight: 600;
    font-size: 20px;
    padding: 10px 20px;
}

.navbar ul li a:hover {
    border-radius: 20px; 
    color: white; 
    background-color: #788867;
}

.hero {
    display: flex;
    position: relative;
    width: 100%;  
    background: no-repeat center center;
    background-size: cover;
    overflow: hidden;
    background-color: #B6C297;
    opacity: 0.9;
    padding-top: 50px;
    padding-bottom: 50px;
}
  
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("images/hero-background.png") no-repeat center center;
    background-size: cover;
    opacity: 0.1;
    pointer-events: none;
    z-index: -1;
}

.hero .content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 2.5em; 
}

.hero p {
    font-size: 1.2em; 
}

.hero-info {
    color: white; 
    padding-left: 100px;
    width: 70%;
}

.doctor-intro {
    display: flex; 
    justify-content: center; 
    padding-right: 100px;
    width: 30%;
    height: 400px;
}

.doctor-intro img {
    border-radius: 50%; 
}

.button {
    padding: 30px 120px; 
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #94A97E; 
    color: white; 
    text-decoration: none; 
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #788867; 
}

.button-tratamento {
    padding: 20px 10%; 
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    background-color: #C0D696; 
    color: white; 
    text-decoration: none; 
    transition-duration: 0.4s;
}

.button-tratamento:hover {
    background-color: #788867; 
}

.button:visited {
    color: white;
    background-color: #94A97E; 
}

.container-clinic {
    scroll-margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-clinic {
    text-align: center;
    width: 80%; 
    color: black;
}

.icone{
    border-radius: 20px;
    width: 120px; 
    height: 6px;
    background-color: #94A97E;
    margin: 10px auto; 
    margin-bottom: 20px;
}

.tratamento-container {
    background-color: #B9BA8E;
    border-radius: 30px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; 
    box-sizing: border-box;
    width: 30%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
  
.sticky + .content {
    padding-top: 102px;
}
.contact-clinic{
    display: flex;
    position: relative;
    width: 100%;  
    justify-content: center;
    align-items: center;
    
}
.contato-container {
    border-radius: 30px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; 
    box-sizing: border-box;
    width: 50%;
    color: white;
}
.mapacont{
    display: flex; 
    justify-content: center; 
    padding-right: 100px;
    width: 50%;
    height: 400px;
}
.contato{
    display: flex;
}

.navbarbaixo{
    display: flex;  
    background-color: #94A97E; 
    justify-content: space-between;
}
