
.content-clinic {
  text-align: center;
  width: 80%;
}

.login-usuario{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;

}

.botoespm{
  border-radius: 15px; 
  background-color: rgba(102, 165, 69,0.2); 
  padding: 30px; 
  box-sizing: border-box;
  margin: 50px;
}

.pm-input-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.pm-input-text {
  color: rgb(70, 70, 70);
  font-size: 20px;
  width: 20%;
}

.pm-input {
  background-color: rgba(102, 165, 69,0.3);
  border-radius: 30px;
  border: 0;
  width: 80%;
  font-size: 20px;
  color: rgb(70, 70, 70);
  padding: 10px;
}

.button {
padding: 20px 60px; 
border-radius: 45px;
border-width: 0px;
font-size: 20px;
font-weight: 600;
background-color: rgb(102, 165, 69);
color: white; 
text-decoration: none; 
transition-duration: 0.4s;
}

.button:hover {
background-color: #788867; 
}

.label {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .switch,
  .input:checked + .label .left,
  .input:not(:checked) + .label .right {
    pointer-events: all;
    cursor: pointer;
  }

  .input {
    display: none;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .label .slider {
    background-color: rgb(102, 165, 69);
  }
  
  
  input:checked + .label .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .left, .right {
    color: rgb(70, 70, 70);
    margin: 0 .5em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
  }

.navbarbaixo{
  bottom: 0;
  width: 100%;
  position: fixed;
}